

.interface.opps {
    width: 100%;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transform-style: none;
    position: absolute;
    height: 110px;
    /*background-color: rgba(255,255,255,0.5);*/
}
.interface .opp {
  margin-left: 1%;
  margin-right: 1%;
    float: left;
    height: 110px;
    /*background-color: rgba(255,255,255,0.5);*/
}

.interface.your {
    width: 100%;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transform-style: none;
    position: absolute;
    bottom: 0px;
    height: 110px;
    /*background-color: rgba(255,255,255,0.5);*/
}
.interface .you {
    width: 98%;
    float: left;
    height: 110px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: rgba(255,255,255,0.5);
}

.player {
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
  color: #FFF;
  font-weight: bold;
}
.player table {
  color: #FFF;
  font-weight: bold;
  text-shadow: 
    -1px 0 black, 0 1px black, 
    1px 0 black, 0 -1px black,
    0 -1px black, 0 1px black, 
    0 1px  black, 0 -1px black;
    /*text-align: center;*/
}
.player table td{
  /*overflow: hidden;*/
}

#you, #opp1, #opp2, #opp3 {
  padding: 5px;
  height: 100px;
}

.player table td,
.player table tr {
  padding: 0px;
  margin: 0px;
}
.player.opp, #opp1, #opp2, #opp3  {
  -webkit-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
}
.player.you, #you {
  -webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
}

.player .orange {
  background: -moz-linear-gradient(top, rgba(255,255,0,0.5) 0%, rgba(255,127,4,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,0,0.5)), color-stop(100%,rgba(255,127,4,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,0,0.5) 0%,rgba(255,127,4,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,0,0.5) 0%,rgba(255,127,4,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,0,0.5) 0%,rgba(255,127,4,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,0,0.5) 0%,rgba(255,127,4,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffff00', endColorstr='#80ff7f04',GradientType=0 ); /* IE6-9 */

}
.player .red {
  background: -moz-linear-gradient(top, rgba(207,4,4,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,4,4,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(207,4,4,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(207,4,4,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(207,4,4,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(207,4,4,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80cf0404', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
  
}
.player .white {
  background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(161,219,255,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(161,219,255,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(161,219,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(161,219,255,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(161,219,255,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(161,219,255,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80a1dbff',GradientType=0 ); /* IE6-9 */
  
}
.player .blue {
  background: -moz-linear-gradient(top, rgba(0,237,126,0.5) 0%, rgba(0,93,255,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,237,126,0.5)), color-stop(100%,rgba(0,93,255,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,237,126,0.5) 0%,rgba(0,93,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,237,126,0.5) 0%,rgba(0,93,255,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,237,126,0.5) 0%,rgba(0,93,255,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,237,126,0.5) 0%,rgba(0,93,255,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8000ed7e', endColorstr='#80005dff',GradientType=0 ); /* IE6-9 */
  
}
.card {
  height: 80px;
  width: 56px;
  background-image: url('../pics/catan5.jpg');
  background-size: auto 100%;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #FFF;
   text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.card.knight{
  background-image: url('../pics/catan4.jpg');
   background-position: 0% 0%; 
}
.card.plenty{
  background-image: url('../pics/catan4.jpg');
   background-position: 25% 0%; 
}
.card.monopoly{
  background-image: url('../pics/catan4.jpg');
   background-position: 50% 0%; 
}
.card.point{
  background-image: url('../pics/catan4.jpg');
   background-position: 75% 0%; 
}
.card.buildroad{
  background-image: url('../pics/catan4.jpg');
   background-position: 100% 0%; 
}
.opp .card,
.you .card {
  float: left;
}


.card.clay { background-position: 0% 0%; }
.card.wood { background-position: 25% 0%; }
.card.iron { background-position: 50% 0%; }
.card.sheep { background-position: 75% 0%; }
.card.wheat { background-position: 100% 0%; }

.card.back {
  background-image: url('../pics/back.jpg');
  background-size: auto 115%;
  background-position: 0% 50%;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.card.special {
  background-image: url('../pics/back.jpg');
  background-size: auto 115%;
  background-position: 100% 50%;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#clay ,
#wood ,
#iron ,
#sheep ,
#wheat ,
#knight,
#plenty,
#monopoly,
#point,
#road{
  height: 80px;
  float: left;
}

#youknight,
#youplenty,
#youmonopoly,
#youpoint,
#youbuildroad,

#opp1knight,
#opp1plenty,
#opp1monopoly,
#opp1point,
#opp1buildroad,

#opp2knight,
#opp2plenty,
#opp2monopoly,
#opp2point,
#opp2buildroad,

#opp3knight,
#opp3plenty,
#opp3monopoly,
#opp3point,
#opp3buildroad {
  float: left;

}

.test {
  overflow-y: auto;
  height: 80px;
}
.test:hover {
  overflow: visible;
  height: 80px;
}

.resourse_icon {
  display: block;
  float: left;
  height: 18px;
  width: 19px;
  background-image: url('../pics/resourses_icon_mini.png');
}
.resourse_icon.clay {
  background-position: -1px -1px;
}
.resourse_icon.wood {
  background-position: -21px -1px;
}
.resourse_icon.iron {
  background-position: -41px -1px;
}
.resourse_icon.sheep {
  background-position: -61px -1px;
}
.resourse_icon.wheat {
  background-position: -81px -1px;
}

.victoryPoints {
font-size: 60px;
width: 45px;
  height: 80px;
}
.oppResourses {
  width: 65px;
  text-align: center;
}

.test {
   width: auto;
   height: 80px;
}
.you .test:hover {
   height: auto;
  position: absolute;
    overflow: visible;
   bottom: 0px;
}
